n8n json file & script & bat/llm local1.json
{
  "name": "News → STREAMLIT Local → Sheets (GRATUIT)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "3c43660e-b8cf-4d7b-8915-2c440070cebc",
      "name": "Schedule 1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "9fca88fc-f6c4-4310-b6dc-6cc20ea06910",
      "name": "Split Articles",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8501/?text={{ $json.description }}",
        "options": {
          "response": {}
        }
      },
      "id": "78617e75-c0b3-4e13-8668-42baa911e1fe",
      "name": "Streamlit Résumé LOCAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e599b546-49f3-492a-a29d-409d32380901",
      "name": "Format Sheet",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RM1yZBWV-uGQQcDI9S_4vdPN_WD2CtuERGzVvTEur84",
          "mode": "list",
          "cachedResultName": "sellers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RM1yZBWV-uGQQcDI9S_4vdPN_WD2CtuERGzVvTEur84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1371465336,
          "mode": "list",
          "cachedResultName": "Article presse",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RM1yZBWV-uGQQcDI9S_4vdPN_WD2CtuERGzVvTEur84/edit#gid=1371465336"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categorie",
              "displayName": "categorie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "langue",
              "displayName": "langue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contry",
              "displayName": "contry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at ",
              "displayName": "published_at ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumé",
              "displayName": "resumé",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagination",
              "displayName": "pagination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a93479e8-f5ae-46cc-9fa3-87e02bb8931d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1296,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EdaKSW8cv310sSje",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.mediastack.com/v1/news?access_key=cb2e8d75631b76bbba0a43d051102f99&countries=fr&limit=10)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        208
      ],
      "id": "6f56eb75-d942-4046-90e2-897d107cf798",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule 1h": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Articles": {
      "main": [
        [
          {
            "node": "Streamlit Résumé LOCAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Streamlit Résumé LOCAL": {
      "main": [
        [
          {
            "node": "Format Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sheet": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8993206c-3b56-4502-8a0f-06d0dd8bf265",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a04a88fe64fa57f1128ae718b86843b51752d69e012eba18493e204de708e66"
  },
  "id": "2mg6y6pbeZz1LCAq",
  "tags": []
}